* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3rem;
    color: #95E1D3;
}

h2 {
    color: #95E1D3;
    margin: 5% auto;
}

section {
    background-color: #EAFFD0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.game-div {
    background-color: #F38181;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
    width: 80vw;
}

.game-div > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 30%;
}

.game-div > div > div{
    width: 100px;
    height: 100px;
    background-color: #FCE38A;
    margin: 5px;
}

.player-Red {
    background: url("../images/red.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.player-Yellow {
    background: url("../images/yellow.png");
    background-repeat: no-repeat;
    background-size: contain;
}
